body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body a {
    color: #41627E;
}

.form {
    margin: auto;
    width: 21em;
}

#login-fields .signup {
    margin-top: 1em;
}

.fields .field {
    clear: both;
}

.fields .field label {
    width: 6em;
    display: block;
    float: left;
}

.fields .field input {
    float: right;
    width: 16em;
}

.clear {
    clear: both;
}

.form input[type=submit] {
    float: right;
    width: 5em;
}

.status {
    margin: 0 1em 1em 1em;
}

.status.info {
    color: green;
}

.status.error {
    color: red;
}

.login-action {
    font-size: 0.9em;
}
