{% extends "layout.html" %}
{% block css %}
{{ super() }}
<link type="text/css" href="{{ request.script_name }}/static/uni-form.css" rel="stylesheet" />
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ request.script_name }}/static/uni-form.jquery.js"></script>
{% endblock %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<h2>{{ title }}</h2>
{% if not expired %}
<p>Enter your new password.</p>
{{ request.form() | safe }}
{% else %}
<p>This password reset code has expired or has already been used. <a href="{{new_code}}">Generate a new code</a> to restart the process.</p>
{% endif %}
{% endblock %}
