{% extends "layout.html" %}
{% block css %}
{{ super() }}
<link type="text/css" href="{{ request.script_name }}/static/uni-form.css" rel="stylesheet" />
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ request.script_name }}/static/uni-form.jquery.js"></script>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2>{{ title }}</h2>
<p>Enter your username to begin the password reset process. We will send a
password reset e-mail to the address associated with your account.</p>
{{ request.form() | safe }}
{% endblock %}
