{% extends "layout.html" %}

{% block title %}Log-In{% endblock %}

{% block content %}
<h1>Log-In</h1>
<fieldset id="login-fields" class="form">
  <legend>Log-In</legend>

  {% if status %}
    <div class="status {{status_type}}">{{status}}</div>
  {% endif %}

  <form action="{{request.relative_url('login')}}"
        method="POST">
    <div class="fields">
      <div class="field">
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{username}}" {% if not form_enabled %}disabled{% endif %}/>
      </div>
      <div class="field">
        <label for="password">Password:</label>
        <input type="password" name="password" {% if not form_enabled %}disabled{% endif %}/>
      </div>
      <div class="clear"><!-- --></div>
    </div>
    <input type="submit" value="Log-In" name="form.submitted" {% if not form_enabled %}disabled{% endif %}/>
    <div class="clear"><!-- --></div>
  </form>
{% if allow_signup %}<div class="login-action signup">Don't have a user account?  <a href="{{request.relative_url('sign-up')}}">Sign up here</a></div>{% endif %}
{% if allow_password_reset %}<div class="login-action password-reset">Can't remember your password? <a href="{{request.relative_url('password-reset')}}">Click here to reset.</a></div>{% endif %}
{% if logged_in %}<div class="login-action logout"><a href="{{request.relative_url('logout')}}">Click here to log out.</a></div>{% endif %}
</fieldset>
</fieldset>
{% endblock %}
