{% extends "form_layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block css %}
{{ super() }}

{% endblock %}

{% block content %}
<h1>Sign Up</h1>

{% if status %}
<div class="status {{status_type}}">{{status}}</div>
{% endif %}

<form class="uniForm signup" action="{{request.url}}" method="POST">
  <fieldset class="inlineLabels">
    <legend>Create a new account.</legend>
    <div class="ctrlHolder">
      <label for="username">Username</label>
      <input type="text" name="username" class="textInput" value="{{username}}" />
      <p class="formHint">May contain only letters, numbers, or one of @, _, .</p>
    </div>
    <div class="ctrlHolder">
      <label for="password">Password</label>
      <input type="password" class="textInput" name="password" />
    </div>
    <div class="ctrlHolder">
      <label for="firstname">First Name</label>
      <input name="firstname" type="text" class="textInput" value="{{request.params.get('firstname', '')}}" />
    </div>
    <div class="ctrlHolder">
      <label for="firstname">Last Name</label>
      <input name="lastname" type="text" class="textInput" value="{{request.params.get('last', '')}}" />
    </div>
  </fieldset>
  <div class="buttonHolder">
    <input class="primaryAction" type="submit" value="Sign Up" name="form.submitted" />
  </div>
</form>

{% endblock %}
