{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<h1>Ponzi Auth</h1>
<p>This is the example application for ponzi_auth.</p>
<ul>
<li><a href="{{request.path_url.rstrip('/')}}/auth/login">Login</a></li>
<li><a href="{{request.path_url.rstrip('/')}}/auth/users">Users</a></li>
<li><a href="{{request.path_url.rstrip('/')}}/auth/passwordreset">Password Reset</a></li>
<li><a href="{{request.path_url.rstrip('/')}}/auth/sign-up">Sign Up</a></li>
</ul>
{% endblock %}
